extends ../layout

block content
  h2 All logs
  table.table.table-dark.table-striped
    thead
      tr
        th Action
        th Entry
        th By
        th Details
        th Date
    tbody
      each l in logs
        tr
          td= l.action
          td 
            a(href=`/pmt/details/${l.entry_id}`)= l.entry_id
          td= l.action_by
          td= l.details
          td= l.createdAt.toISOString().split('T')[0]
