extends layout

block content
    h1(lg_language='_users_')
    if error
      .alert.alert-danger= error
    - const levelLabels = { none: 'None', secondary: 'Secondary approver', leader: 'Leader approver' }
    table.table.table-dark
        thead
            tr
                th User ID
                th Password
                th Team
                th Role
                th CT privilege
                th Action
        tbody
            each u in users
                tr
                    td
                        if u.userid == 'Lennart'
                            i= u.userid
                        else
                            .input-group
                                input.form-control(id=`name_${u.id}`, type='text', value=u.userid)
                                .input-group-append
                                    button.btn.btn-outline-warning(onclick=`UpdateName("${u.id}")`) Update
                    td
                        if u.userid == 'Lennart'
                            i LOCKED
                        else if u.password != null && u.password.length > 0
                            button.btn.btn-outline-danger(onclick=`ResetPassword(${u.id}, this)`) Reset
                        else
                            b NOT SET
                    td
                        if u.userid == 'Lennart'
                            i(lg_language=u.team)
                        else
                            select.form-control(id=`team_${u.id}`, onchange=`UpdateTeam("${u.id}")`)
                                if u.team == 'ohami_gcs_mail'
                                    option(value='ohami_gcs_mail', lg_language='ohami_gcs_mail', selected)
                                else
                                    option(value='ohami_gcs_mail', lg_language='ohami_gcs_mail')
                                if u.team == 'ohami_gcs_order'
                                    option(value='ohami_gcs_order', lg_language='ohami_gcs_order', selected)
                                else
                                    option(value='ohami_gcs_order', lg_language='ohami_gcs_order')
                                if u.team == 'ohami_gcs_korea'
                                    option(value='ohami_gcs_korea', lg_language='ohami_gcs_korea', selected)
                                else
                                    option(value='ohami_gcs_korea', lg_language='ohami_gcs_korea')
                                if u.team == 'ohami_gcs_boss'
                                    option(value='ohami_gcs_boss', lg_language='ohami_gcs_boss', selected)
                                else
                                    option(value='ohami_gcs_boss', lg_language='ohami_gcs_boss')
                    td
                        b= `${u.role} `
                        if u.role == 'user'
                            button.btn.btn-outline-warning(onclick=`MakeAdmin(${u.id}, this)`) → admin
                        else if u.userid != 'Lennart'
                            button.btn.btn-outline-warning(onclick=`MakeUser(${u.id}, this)`) → user
                    td
                        - const al = JSON.parse(JSON.stringify(u)).approver_level
                        form(action='/admin/approver_privilege', method='post', class='form-inline')
                            input(type='hidden', name='user_id', value=u.userid)
                            select.form-control(name='level')
                                each level in approverLevels || ['none', 'secondary', 'leader']
                                    if al == level
                                        option(value=level, selected)= levelLabels[level] || level
                                    else
                                        option(value=level)= levelLabels[level] || level
                            button.btn.btn-outline-primary(type='submit') Save
                    td
                        if u.userid != 'Lennart'
                            a.btn.btn-outline-danger(href='/removeuser/'+u.id) Remove
                        else
                            i.text-danger *Deletes user private data aswell
            form(action='/adduser', method='post')
                tr
                    td
                        .input-group
                            .input-group-prepend
                                span.input-group-text User ID
                            input#newuserid.form-control(type='text', name='newuserid')
                    td NOT SET
                    td
                        .input-group
                            .input-group-prepend
                                span.input-group-text Team
                            select#newteam.form-control(name='newteam')
                                option(value='ohami_gcs_mail', lg_language='ohami_gcs_mail')
                                option(value='ohami_gcs_order', lg_language='ohami_gcs_order')
                                option(value='ohami_gcs_korea', lg_language='ohami_gcs_korea')
                                option(value='ohami_gcs_boss', lg_language='ohami_gcs_boss')
                    td
                        .input-group
                            .input-group-prepend
                                span.input-group-text Role
                            select#newrole.form-control(name='newrole')
                                option(value='user') User
                                option(value='admin') Admin
                    td
                        i.text-muted Set after creation
                    td
                        button.btn.btn-outline-success(type='submit') Add user
    script(src='/javascripts/admin_controller.js')

