extends layout

block content
    h1(lg_language='_users_')
    table.table.table-dark
        thead
            tr
                th User ID
                th Password
                th Team
                th Role
                th Action
        tbody
            each u in users
                tr
                    td= u.userid
                    td
                        if u.userid == 'Lennart'
                            i LOCKED
                        else if u.password.length > 0
                            button.btn.btn-outline-danger(onclick=`ResetPassword(${u.id}, this)`) Reset
                        else
                            b NOT SET
                    td= u.team
                    td
                        b= `${u.role} `
                        if u.role == 'user'
                            button.btn.btn-outline-warning(onclick=`MakeAdmin(${u.id}, this)`) → admin
                        else if u.userid != 'Lennart'
                            button.btn.btn-outline-warning(onclick=`MakeUser(${u.id}, this)`) → user
                    td
                        if u.userid != "Lennart"
                            a.btn.btn-outline-danger(href="/removeuser/"+u.id) Remove
                        else
                            i.text-danger *Deletes user private data aswell
            form(action="/adduser", method="post")
                tr
                    td
                        .input-group
                            .input-group-prepend
                                span.input-group-text User ID
                            input#newuserid.form-control(type="text", name="newuserid")
                    td NOT SET
                    td
                        .input-group
                            .input-group-prepend
                                span.input-group-text Team
                            select#newteam.form-control(name='newteam')
                                option(value='ohami_gcs_mail', lg_language='ohami_gcs_mail')
                    td
                        .input-group
                            .input-group-prepend
                                span.input-group-text Role
                            select#newrole.form-control(name="newrole")
                                option(value="user") User
                                option(value="admin") Admin
                    td
                        button.btn.btn-outline-success(type="submit") Add user
    script(src="/javascripts/admin_controller.js")