extends layout

block content
  .row 
    .col-2 
      div.button-list
        button.btn.btn-primary(onclick="OpenChat(0)") New chat
      each button in button_list 
        div.button-list
          button.btn.btn-primary(onclick=`OpenChat(${button.threadid})`)= `${button.title} (${button.tokens})`
    .col-10
      #chatarea 
        if chat != '0'
          each entry in display[chat]
            div(class=entry.role)
              div.tokens= `Tokens: ${entry.tokens}, Processed by: ${entry.user}`
              - let parts = entry.content.split("```")
              each d, i in parts 
                if i%2 == 0
                  p!= d.split('\n').join('<br>')
                else 
                  pre= d
      #inputarea 
        form(action="/chatgpt", method="post") 
          input#threadid.form-control(type="text", name="threadid", value=`${chat}`, readonly)
          input#title.form-control(type="text", name="title", value=`${chat != '0' ? display[chat][display[chat].length-1].title : ""}`)
          textarea#input.form-control(name="input", rows="5", required)
          input.btn.btn-success(type="submit", value="Send")
  .row 
    .col 
      table.table.table-dark.table-striped 
        thead 
          tr 
            th Month 
            th Tokens 
            th Cost 
        tbody 
          each cost in costs 
            tr 
              td= cost.dlabel
              td= cost.tokens
              td= `$${Math.round(100 * cost.cost) / 100}`
  pre#data.hidden= JSON.stringify(display, null, 2)
  script(src="/javascripts/chatgpt_controller.js") 
