extends layout

block content
  if changes.length > 0
    #step1
      h1 Changes overview
      table.table.table-dark.table-striped 
        thead 
          tr 
            th Country 
            th Country (jap)
            th CID
            th ASP 
            th SAL SP 
            th Surface SP 
            th Air Parcel 
            th SAL Parcel 
            th Surface Parcel 
            th EMS 
        tbody 
          each change in changes
            tr 
              if change.before == null
                td.updated_cell= change.after.jp_country
                td.updated_cell= change.after.jp_country_jap
                td.updated_cell= change.after.jp_cid
                td.updated_cell= change.after.jp_asp
                td.updated_cell= change.after.jp_salsp
                td.updated_cell= change.after.jp_ssp
                td.updated_cell= change.after.jp_ap
                td.updated_cell= change.after.jp_salp
                td.updated_cell= change.after.jp_sp
                td.updated_cell= change.after.jp_ems
              else
                if change.before.jp_country != change.after.jp_country
                  td.updated_cell= `${change.before.jp_country} -> ${change.after.jp_country}`
                else 
                  td= change.after.jp_country
                if change.before.jp_country_jap != change.after.jp_country_jap
                  td.updated_cell= `${change.before.jp_country_jap} -> ${change.after.jp_country_jap}`
                else 
                  td= change.after.jp_country_jap
                if change.before.jp_cid != change.after.jp_cid
                  td.updated_cell= `${change.before.jp_cid} -> ${change.after.jp_cid}`
                else 
                  td= change.after.jp_cid
                if change.before.jp_asp != change.after.jp_asp
                  td.updated_cell= `${change.before.jp_asp} -> ${change.after.jp_asp}`
                else 
                  td= change.after.jp_asp
                if change.before.jp_salsp != change.after.jp_salsp
                  td.updated_cell= `${change.before.jp_salsp} -> ${change.after.jp_salsp}`
                else 
                  td= change.after.jp_salsp
                if change.before.jp_ssp != change.after.jp_ssp
                  td.updated_cell= `${change.before.jp_ssp} -> ${change.after.jp_ssp}`
                else 
                  td= change.after.jp_ssp
                if change.before.jp_ap != change.after.jp_ap
                  td.updated_cell= `${change.before.jp_ap} -> ${change.after.jp_ap}`
                else 
                  td= change.after.jp_ap
                if change.before.jp_salp != change.after.jp_salp
                  td.updated_cell= `${change.before.jp_salp} -> ${change.after.jp_salp}`
                else 
                  td= change.after.jp_salp
                if change.before.jp_sp != change.after.jp_sp
                  td.updated_cell= `${change.before.jp_sp} -> ${change.after.jp_sp}`
                else 
                  td= change.after.jp_sp
                if change.before.jp_ems != change.after.jp_ems
                  td.updated_cell= `${change.before.jp_ems} -> ${change.after.jp_ems}`
                else 
                  td= change.after.jp_ems
      h1 Review changes 
      table.table.table-dark.table-striped 
        thead 
          tr 
            th Country 
            th Method 
            th Update 
        tbody 
          each change in changes
            - let country = "- none -"
            if change.before == null || change.before.jp_asp != change.after.jp_asp
              tr 
                if country != change.after.jp_country
                  th= change.after.jp_country
                  - country = change.after.jp_country
                else 
                  td
                td Air Small Packet Unregistered 
                td 
                  select.form-control.change_in_method(data-country=`${change.after.jp_country}`, data-country_jp=`${change.after.jp_country_jap}`, data-method="Air Small Packet Unregistered")
                    option(value=`${change.after.jp_asp == '✓' || change.after.jp_asp == '*' ? "available" : "unavailable"}`)= `${change.after.jp_asp} ${change.after.jp_asp == '✓' || change.after.jp_asp == '*' ? "Available" : "Unavailable"}`
                    option(value=`available`)= `${change.after.jp_asp} Available`
                    option(value=`unavailable`)= `${change.after.jp_asp} Unavailable`
              tr 
                td
                td Air Small Packet Registered 
                td 
                  select.form-control.change_in_method(data-country=`${change.after.jp_country}`, data-country_jp=`${change.after.jp_country_jap}`, data-method="Air Small Packet")
                    option(value=`${change.after.jp_asp == '✓' ? "available" : "unavailable"}`)= `${change.after.jp_asp} ${change.after.jp_asp == '✓' ? "Available" : "Unavailable"}`
                    option(value=`available`)= `${change.after.jp_asp} Available`
                    option(value=`unavailable`)= `${change.after.jp_asp} Unavailable`
            if change.before == null || change.before.jp_salsp != change.after.jp_salsp
              tr 
                if country != change.after.jp_country
                  th= change.after.jp_country
                  - country = change.after.jp_country
                else 
                  td
                td SAL Small Packet Unregistered 
                td 
                  select.form-control.change_in_method(data-country=`${change.after.jp_country}`, data-country_jp=`${change.after.jp_country_jap}`, data-method="SAL Small Packet Unregistered")
                    option(value=`${change.after.jp_salsp == '✓' || change.after.jp_salsp == '*' ? "available" : "unavailable"}`)= `${change.after.jp_salsp} ${change.after.jp_salsp == '✓' || change.after.jp_salsp == '*' ? "Available" : "Unavailable"}`
                    option(value=`available`)= `${change.after.jp_salsp} Available`
                    option(value=`unavailable`)= `${change.after.jp_salsp} Unavailable`
              tr 
                td
                td SAL Small Packet Registered 
                td 
                  select.form-control.change_in_method(data-country=`${change.after.jp_country}`, data-country_jp=`${change.after.jp_country_jap}`, data-method="SAL Small Packet")
                    option(value=`${change.after.jp_salsp == '✓' ? "available" : "unavailable"}`)= `${change.after.jp_salsp} ${change.after.jp_salsp == '✓' ? "Available" : "Unavailable"}`
                    option(value=`available`)= `${change.after.jp_salsp} Available`
                    option(value=`unavailable`)= `${change.after.jp_salsp} Unavailable`
            if change.before == null || change.before.jp_ap != change.after.jp_ap
              tr 
                if country != change.after.jp_country
                  th= change.after.jp_country
                  - country = change.after.jp_country
                else 
                  td
                td Air Parcel 
                td 
                  select.form-control.change_in_method(data-country=`${change.after.jp_country}`, data-country_jp=`${change.after.jp_country_jap}`, data-method="Air Parcel")
                    option(value=`${change.after.jp_ap == '✓' ? "available" : "unavailable"}`)= `${change.after.jp_ap} ${change.after.jp_ap == '✓' ? "Available" : "Unavailable"}`
                    option(value=`available`)= `${change.after.jp_ap} Available`
                    option(value=`unavailable`)= `${change.after.jp_ap} Unavailable`
            if change.before == null || change.before.jp_salp != change.after.jp_salp
              tr 
                if country != change.after.jp_country
                  th= change.after.jp_country
                  - country = change.after.jp_country
                else 
                  td
                td SAL Parcel 
                td 
                  select.form-control.change_in_method(data-country=`${change.after.jp_country}`, data-country_jp=`${change.after.jp_country_jap}`, data-method="SAL Parcel")
                    option(value=`${change.after.jp_salp == '✓' ? "available" : "unavailable"}`)= `${change.after.jp_salp} ${change.after.jp_salp == '✓' ? "Available" : "Unavailable"}`
                    option(value=`available`)= `${change.after.jp_salp} Available`
                    option(value=`unavailable`)= `${change.after.jp_salp} Unavailable`
            if change.before == null || change.before.jp_sp != change.after.jp_sp
              tr 
                if country != change.after.jp_country
                  th= change.after.jp_country
                  - country = change.after.jp_country
                else 
                  td
                td Surface Parcel 
                td 
                  select.form-control.change_in_method(data-country=`${change.after.jp_country}`, data-country_jp=`${change.after.jp_country_jap}`, data-method="Surface Parcel")
                    option(value=`${change.after.jp_sp == '✓' ? "available" : "unavailable"}`)= `${change.after.jp_sp} ${change.after.jp_sp == '✓' ? "Available" : "Unavailable"}`
                    option(value=`available`)= `${change.after.jp_sp} Available`
                    option(value=`unavailable`)= `${change.after.jp_sp} Unavailable`
            if change.before == null || change.before.jp_ems != change.after.jp_ems
              tr 
                if country != change.after.jp_country
                  th= change.after.jp_country
                  - country = change.after.jp_country
                else 
                  td
                td EMS 
                td 
                  select.form-control.change_in_method(data-country=`${change.after.jp_country}`, data-country_jp=`${change.after.jp_country_jap}`, data-method="EMS")
                    option(value=`${change.after.jp_ems == '✓' ? "available" : "unavailable"}`)= `${change.after.jp_ems} ${change.after.jp_ems == '✓' ? "Available" : "Unavailable"}`
                    option(value=`available`)= `${change.after.jp_ems} Available`
                    option(value=`unavailable`)= `${change.after.jp_ems} Unavailable`
      h1 Actions (set change date and select JP announcement update)
      input#changedate.form-control(type="date", name="changedate")
      select#announcement.form-control(name="announcement") 
        each entry in JP_announcements
          option(value=`${entry.link[0]}`)= `${entry.title[0]} (${entry.pubDate[0]})`
      button.btn.btn-success(onclick="s1_next()") Proceed
    #step2.hidden
      h1 Prepare the announcement message for amiami.com, and share with team
      textarea#announcement_text.form-control(name="announcement_text", cols="30", rows="10")
      h1 Actions 
      button.btn.btn-primary(onclick="s2_gcs_share()") Copy GCS share message
      button.btn.btn-primary(onclick="s2_gcs_cs_share()") Copy GCS CS share message
      button.btn.btn-success(onclick="s2_next()") Proceed
    #step3.hidden
      h1 Cybozu submit request
      input#request_comment_number.form-control(type="text", name="request_comment_number")
      h1 Actions 
      button.btn.btn-primary(onclick="s3_announcement_link()") Copy link (announcement)
      button.btn.btn-primary(onclick="s3_announcement_text()") Copy text (announcement)
      b *Remember to fill in comment number above
      button.btn.btn-primary(onclick="s3_update_link()") Copy link (update request)
      button.btn.btn-primary(onclick="s3_update_text()") Copy text (update request)
      button.btn.btn-primary(onclick="s3_cw_share()") Copy text (share on CW)
      button.btn.btn-success(onclick="s3_next()") Proceed
    #step4.hidden
      h1 Update avaialble methods
    #step5.hidden
      h1 Review and save
  pre.hidden= JSON.stringify(changes, null, 2)
  pre.hidden= JSON.stringify(JP_announcements, null, 2)
  script(src="/javascripts/checkjp_controller.js") 
