extends layout

block content
    if errors===undefined
        h2 Update Entry
        p= 'Update entry "' + entry.title + '" below.'
        form(action='/entry/' + entry.id + '/update', method="post")
            div.form-group
                input#creator(type='hidden', name='creator')
                label(for='title') Title
                input#title.form-control(type='text' placeholder='The title' name='title' required='true' value=entry.title)
                br
                label(for='category') Category
                select#category.form-control(name='category')
                    if entry.category==='template'
                        option(value='template', lg_language='_template_', selected)
                    else
                        option(value='template', lg_language='_template_')
                    if entry.category==='manual'
                        option(value='manual', lg_language='_manual_', selected)
                    else
                        option(value='manual', lg_language='_manual_')
                    if entry.category==='ccontact'
                        option(value='ccontact', lg_language='_ccontact_', selected)
                    else
                        option(value='ccontact', lg_language='_ccontact_')
                br
                label(for='ismaster') Is Master
                input#ismaster.form-control(type='checkbox', name='ismaster', checked=(entry.ismaster==1 ? true : false))
                br
                label(for='tag') Tag
                - const tags = ['_account_related_','_order_item_statuses_','_order_modifying_','_payment_shipping_','_after_service_shipping_','_after_service_defect_','_after_service_preowned_','_returns_refunds_','_claims_cases_','_work_related_','_case_assist_','_customer_dep_','_logistics_dep_','_feedback_','_other_']
                select#tag.form-control(name='tag')
                    each tag in tags
                        if entry.tag===tag
                            option(value=tag, lg_language=tag, selected)
                        else
                            option(value=tag, lg_language=tag)
                br
                label(for='team') Team
                select#team.form-control(name='team')
                    if entry.team==='ohami_global_support'
                        option(value='ohami_global_support', selected) GCS Mail team
                    else
                        option(value='ohami_global_support') GCS Mail team
            div.form-group
                each i in [0, 1, 2, 3, 4]
                    label(for='content' + (i+1))= 'Content' + (i+1)
                    textarea.form-control(id='content' + (i+1), name='content' + (i+1), cols='30', rows='10')= (undefined===entry.contents[i] ? '' : entry.contents[i].data)
            button.btn.btn-primary(type='submit') Update
    else
        h2 Could not update
        ul
            for error in errors
                li!= error.msg
        hr
        a(href="/entry") Back