extends layout

block content
  .row
    .col
      h1 Issue
      form(action="/meeting/editissue", method="post")
        .form-group
          label(for="issue_id") ID#
          input#issue_id.form-control(type="text", name="issue_id", value=issues[0].issue_id, readonly)
        .form-group
          label(for="issue") Issue
          input#issue.form-control(type="text", name="issue", value=issues[0].issue, required, placeholder="Issue title (Required)")
        .form-group
          label(for="comment") Comment
          input#comment.form-control(type="text", name="comment", value=issues[0].comment, required, placeholder="Comment (Required)")
        .form-group
          label(for="solved") Solved status
          select#solved(name="solved")
            if issues[0].solved == "yes"
              option(value="yes", selected) Yes
            else
              option(value="yes") Yes
            if issues[0].solved == "maybe"
              option(value="maybe", selected) Maybe
            else
              option(value="maybe") Maybe
            if issues[0].solved == "no"
              option(value="no", selected) No
            else
              option(value="no") No
        button.btn.btn-outline-primary(type="submit") Save
  .row.mt-2
    .col
      table.table.table-dark
        thead
          tr
            th(span="col") Type
            th(span="col") Code
            th(span="col") Example
        tbody
          tr
            td A fact (class="f_fact") is displayed like
            td= '<u class="f_fact">A fact</u>'
            td
              u.f_fact A fact
          tr
            td A fact box (class="f_box") is displayed like
            td= '<i class="f_box">A fact box</i>'
            td
              i.f_box A fact box
          tr
            td A fact box with bold text (class="f_box") is displayed like
            td= '<i class="f_box">A fact box with <b>bold text</b></i>'
            td
              i.f_box A fact box with 
                b bold text
