extends layout

block content
  .row 
    .col 
      h2 Shorten item names 
      p In FM, find all paid orders since last check, for relevant countries, then open the layout for editing shorten names. Press button to remove completed/already short enough names, then "Export" data that needs to be processed. Select the exported file below, and click "Start processing", then wait for the task to be completed, and click on "Save CSV" to export the processed data. Now return to FM, and in the same layout you previously opened, press "Import" and select the file you just exported. Done!
      h3 Last processed at: 
        b= `${lastProcessed.getFullYear()}-${lastProcessed.getMonth()+1}-${lastProcessed.getDate()}, ${lastProcessed.getHours()}:${lastProcessed.getMinutes()}`
      hr(style="border: 2px solid red;")
  .row 
    .col 
      h3 1. Input details
      label(for="title") Task title 
      input#title.form-control(type="text", name="title", value=`Short names ${new Date()}`)
      label(for="csv") Select data file (CSV), no header row
      input#csv.form-control(type="file", name="csv")
      label(for="method") Select processing method 
      select#method.form-control(name="method")
        option(value="shorten_names") Shorten product names 
        //- option(value="check_translations") Check translations 
  .row 
    #input_output.col
      i *Select an input file...
  .row 
    .col 
      hr(style="border: 2px solid red;")
      h3 2. Shorten product names
      label(for="length") Whats the max length?
      input#length.form-control(type="number", name="length", value="86", readonly)
  .row 
    .col 
      button.btn.btn-primary(onclick="Process()") Start processing
  .row 
    .col 
      hr(style="border: 2px solid red;")
      h3 3. Output 
        span#per_done 0% done
      .slidecontainer
        input#per_done_range.slider(type="range", name="per_done_range", min="0", max="100", value="0", disabled)
  .row 
    #output_div.col
  .row 
    .col 
      button.btn.btn-primary(onclick="SaveCompleted()") Save CSV
  script(src="/javascripts/FileSaver.js", defer) 
  script(src="/js/language_tools.js", defer) 
