doctype html
html(lang='en')
  head
    title GCS Support Tool
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/my_style.css')
  body(onload='Loaded()')
    div(class='container-fluid')
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand(href="/", lg_language="_gcs_tool_")
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/entry', lg_language='_content_')
            li.nav-item
              a.nav-link(href='/scheduler', lg_language='_scheduler_')
            li.nav-item
              a.nav-link(href='/meeting')
                span(lg_language='_meeting_')
                span#m_count.badge.badge-warning.ml-1
            li.nav-item
              a.nav-link(href='/country', lg_language='_ship_status_')
            if role === 'admin'
              li.nav-item
                a.nav-link(href='/admin', lg_language='_admin_')
            //- li.nav-item
            //-   a.nav-link(href='/meeting/feedback') Feedback
            li.nav-item
              a.nav-link(href='/tracker', lg_language='_tracker_')
            li.nav-item.dropdown
              a#navbarDropdownExp.nav-link.dropdown-toggle(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false", lg_language='_other_')
              .dropdown-menu(aria-labelledby="navbarDropdownExp")
                a.dropdown-item(href='/binpack') Binpacker
                hr.dropdown-divider
                a.dropdown-item(href='/hs') HS code editor
                a.dropdown-item(href='/hs/v2') HS code editor v2
                a.dropdown-item(href='/hs/manualedit') HS code manual editor
                a.dropdown-item(href='/hs/checker') HS code checker
                if role === 'admin'
                  a.dropdown-item(href='/hs/dbeditor') HS database
                hr.dropdown-divider
                a.dropdown-item(href='/shipcost/view') Shipping cost tables
                if role === 'admin'
                  a.dropdown-item(href='/shipcost') Shipping cost manager
                if role === 'admin'
                  hr.dropdown-divider
                  a.dropdown-item(href='/timekeeper') Timekeeper
                  a.dropdown-item(href='/scheduler/updatelog') Scheduler update log
            if name === "Lennart"
              li.nav-item
                a.nav-link(href='/lennart') Lennart
          span.form-inline.my-2.my-lg-0
            input#track.form-control.mr-sm-2(type='text' placeholder='Tracking number' aria-label='Tracking number')
            button.btn.btn-outline-info.my-2.my-sm-0(onclick='myGetDocument(3)' title='JP Investigation/JP調査依頼') JP
            button.btn.btn-outline-info.my-2.my-sm-0(onclick='myGetDocument(1)' title='Label/ラベル') L
            button.btn.btn-outline-info.my-2.my-sm-0(onclick='myGetDocument(2)' title='Invoice/インボイス') I
            button.btn.btn-outline-info.my-2.my-sm-0(onclick='myGetDocument(0)' title='Label+Invoice/ラベル＋インボイス') L+I
      - let ld = new Date()
      - let dm1 = new Date(ld.getFullYear(), ld.getMonth(), ld.getDate()-1)
      - let ms = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      if jp && (jp[0].pubDate[0].indexOf(`${ld.getDate()} ${ms[ld.getMonth()]} ${ld.getFullYear()}`) >= 0 || jp[0].pubDate[0].indexOf(`${dm1.getDate()} ${ms[dm1.getMonth()]} ${dm1.getFullYear()}`) >= 0)
        .alert.alert-primary(style="padding:0px;margin-bottom:0px;")
          b JP NEWS! 
          a(href=jp[0].link[0], target="_blank")= jp[0].title[0]
      #status_bar.alert.alert-dark(style="padding:0px;margin-bottom:0px;")
      .alert.alert-dark(style="padding:0px;margin-top:0px;")
        span You are logged in as 
          b#u_name= name
          |  (
          b#u_role= role
          | ) 
          if name != 'Guest'
            a(href="/logout", lg_language='_logout_')
      //- #feedback.alert.alert-dark(style="padding:3px;margin-top:0px;")
      //-   div.form-inline
      //-     .form-group.mr-1 Incident / Feedback
      //-     .form-group.mr-1
      //-       select#happiness.form-control(name="happiness")
      //-         option(value="positive") Positive
      //-         option(value="neutral" selected) Neutral
      //-         option(value="negative") Negative
      //-     .form-group.mr-1
      //-       select#type.form-control(name="type")
      //-         option(value="general" selected) General
      //-         optgroup(label="Event")
      //-           option(value="renewal20201006") Renewal(2020-10-06)
      //-           option(value="covid19") COVID-19
      //-         optgroup(label="Feedback")
      //-           option(value="shopfeedback") Shop
      //-           option(value="websitefeedback") Website
      //-           option(value="supportfeedback") Support
      //-           option(value="shippingfeedback") Shipping
      //-         optgroup(label="Claim")
      //-           option(value="dispute") Dispute
      //-     .form-group.mr-1
      //-       label
      //-         input#bug(type="checkbox", name="bug")
      //-         | Potential bug?
      //-     .form-group.mr-1
      //-       input#comment.form-control(type="text", name="comment", placeholder="Comment (required)")
      //-     .form-group.mr-1
      //-       input#ticket.form-control(type="number", name="ticket", placeholder="Zendesk ticket")
      //-     button#feedbackbutton.btn.btn-primary(onclick="RegisterFeedback()") Submit

      #debug
      #ask_labels
      audio#alertsound_1(src="/sounds/162463__kastenfrosch__message.mp3")
      audio#alertsound_2(src="/sounds/167337__willy-ineedthatapp-com__pup-alert.mp3")
      audio#alertsound_3(src="/sounds/221359__melliug__newmessage.mp3")
      audio#alertsound_4(src="/sounds/398346__henrocker01__wheep-wheep.mp3")
      hr

      if workschedule
        #workschedule.row
          each day in workschedule.days 
            .wsday.col(class=day.category)
              b= day.date 
              br
              i(lg_language=`_${day.schedule}_`)
        hr

      div(class='row')
        div(class='col-sm-12')
          block content
      hr

      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        span.navbar-brand(style="color:grey;") Created by Lennart
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarContentBottom", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarContentBottom.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/about', lg_language='_about_')
            li.nav-item
              a.nav-link(href='/api') Documents
          span.form-inline.my-2.my-lg-0
            select#lg_language.form-control.form-control.mr-sm-2(onchange='UpdateLanguageSettings()')
              option(value='japanese') 日本語
              option(value='english') English
              option(value='swedish') Svenska
    script(src='/javascripts/lg_language.js')
    script(src='/javascripts/lg_update.js')
    script(src='/javascripts/GCSTool.js')
    script(src='/javascripts/feedback.js')
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")