extends layout

block content
  .row
    .col-sm-12
      h1.titlestyle GCS Mail team topics
      p
        button.btn.btn-primary(type="button", data-toggle="collapse", data-target="#new_form", aria-expanded="false", aria-controls="collapseExample") NEW
      #new_form.collapse.alert.alert-secondary(role="alert")
        h3 新規作成
        input#name(type="hidden", name="name", value=`${name}`)
        .input-group
          .input-group-prepend
            .input-group-text Title
          input#newtitle.form-control(type="text", name="newtitle" placeholder="Title")
        .input-group
          .input-group-prepend
            .input-group-text Content
          textarea#newcontent.form-control(name="newcontent", cols="30", rows="3", placeholder="Content")
        .input-group
          .input-group-prepend
            .input-group-text
              | Your
              br
              | comment
          textarea#newmycomment.form-control(name="newmycomment", cols="30", rows="3", placeholder="Your comment")
        button#newpostbutton.btn.btn-success.btn-lg.btn-block Post new topic
      - let cYear = 9999
      - let cMonth = 99
      - let cnt = 0
      each row in meetings
        - cnt++
        - let sDate = row.updatedDate
        if !(cYear == sDate.getFullYear() && cMonth == sDate.getMonth()+1)
          - cYear = sDate.getFullYear()
          - cMonth = sDate.getMonth()+1
          h2= cYear + "年" + cMonth + "月"
        - let classType = "alert-primary"
        - let message = ""
        - let hide = false
        - const s_list = {"new": "新規", "prosessing": "対応中", "onhold": "待ち", "completed": "完了", "discontinued": "中止"}
        if row.status == "new"
          - classType = "alert-danger"
        if row.status == "prosessing"
          - classType = "alert-warning"
        if row.status == "completed"
          - classType = "alert-success"
          - message = "<b>【完了】</b>"
          - hide = true
        if row.status == "discontinued"
          - classType = "alert-dark"
          - message = "<b>【中止】</b>"
          - hide = true
        .alert(class=classType, role="alert")
          h3!= "■" + message + row.title
            if hide
              button.btn.btn-primary.ml-3(type="button", data-toggle="collapse" data-target=`#collapseExample${cnt}` aria-expanded="false" aria-controls=`collapseExample${cnt}`) Show
          div.collapse(id=`collapseExample${cnt}`, class=`${hide ? "" : "show"}`)
            b= `Status: ${s_list[row.status]}`
            i= ` (Updated: ${sDate.getFullYear()}-${sDate.getMonth()+1}-${sDate.getDate()})`
            pre= row.content
            p
              button.btn.btn-primary(type="button", data-toggle="collapse", data-target="#edit_form"+cnt, aria-expanded="false", aria-controls="collapseExample") EDIT
            .collapse(id="edit_form"+cnt)
              .input-group
                .input-group-prepend
                  .input-group-text Status
                select.form-control(id=`editstatus${row.id}`, name="editstatus")
                  option(value="new") 新規
                  option(value="prosessing") 対応中
                  option(value="onhold") 待ち
                  option(value="completed") 完了
                  option(value="discontinued") 中止
              .input-group
                .input-group-prepend
                  .input-group-text Details
                textarea.form-control(id=`editdetails${row.id}`, name="editdetails", cols="30", rows="3")= row.content
              button.btn.btn-warning.btn-lg.btn-block.update_meeting_button(data-id=`${row.id}`) Update
            hr
            each comment in row.comments
              .comment
                h4= comment.created_by
                pre= comment.content
                if comment.created_by == name
                  textarea.form-control(id=`mycomment${comment.id}`, name="mycomment", cols="30", rows="3", style="width: 100%;")= comment.content
                  button.btn.btn-warning.btn-lg.btn-block(onclick=`UpdateComment(${comment.id})`) Update comment
            .comment
              textarea.form-control(id=`newcomment${row.id}`, name="mycomment", cols="30", rows="3", style="width: 100%;")
              button.btn.btn-warning.btn-lg.btn-block(onclick=`AddComment(${row.id})`) Add comment
  script(src="/javascripts/open_meeting.js")
