extends layout

block content
  h1(style="position: sticky;top: 0;background-color:black;")= `年間スケジュール（${show_year}年） ${schedule_name}`
  - const iyear = (new Date()).getFullYear()
  a.btn.btn-link(href=`/scheduler/${id}/personal_schedule?year=${iyear - 1}`)= `${iyear - 1}年`
  a.btn.btn-link(href=`/scheduler/${id}/personal_schedule?year=${iyear}`)= `${iyear}年`
  a.btn.btn-link(href=`/scheduler/${id}/personal_schedule?year=${iyear + 1}`)= `${iyear + 1}年`
  - let has_unknown_days = false
  svg(width="1240" height="1700" viewBox="0 0 1240 1700" fill="none" xmlns="http://www.w3.org/2000/svg")
    rect#background(width="1240" height="1700" fill="white")
    - let year = parseInt(show_year)
    - let month = 0
    - let x_offset = month % 3
    - let y_offset = Math.floor(month / 3)
    - let week_offset = 1
    - let num_used_holidays = 0
    - let num_days_off = 0
    - let num_vacation = 0
    text(x=`${x_offset * 420 + 200}` y=`${y_offset * 400 + 127.5}` dominant-baseline="middle" text-anchor="middle" fill="black")= (month + 1) + "月"
    - const days = ["日", "月", "火", "水", "木", "金", "土"]
    - let i = 0
      while i < 7
        text(x=`${x_offset * 420 + i * 57 + 27.5}` y=`${y_offset * 400 + week_offset * 57 + 90}` dominant-baseline="middle" text-anchor="middle" fill="black")= days[i]
        - i++
    - let d = new Date(year, month, 1)
    - let colormap = { "work":"rgb(120,255,120)", "telwork":"rgb(180,255,180)","2hoff_m":"rgb(255,255,120)","2hoff_e":"rgb(255,255,120)","halfoff_m":"rgb(255,255,120)","halfoff_e":"rgb(255,255,120)","off":"rgb(120,120,255)","holiday":"rgb(255,120,120)","vacation":"rgb(255,120,255)" }
    while d.getFullYear() == year
      if d.getMonth() != month
        - month++
        - x_offset = month % 3
        - y_offset = Math.floor(month / 3)
        - week_offset = 1
        text(x=`${x_offset * 420 + 200}` y=`${y_offset * 400 + 127.5}` dominant-baseline="middle" text-anchor="middle" fill="black")= (month + 1) + "月"
        - i = 0
        while i < 7
          text(x=`${x_offset * 420 + i * 57 + 27.5}` y=`${y_offset * 400 + week_offset * 57 + 90}` dominant-baseline="middle" text-anchor="middle" fill="black")= days[i]
          - i++
      - let day = d.getDay()
      - let ckey = `${d.getFullYear()}-${d.getMonth()}-${d.getDate()}`
      if schedule[ckey] == "off"
        - num_days_off++
      if schedule[ckey] == "holiday"
        - num_used_holidays++
      if schedule[ckey] == "vacation"
        - num_vacation++
      if schedule[ckey] == undefined
        - has_unknown_days = true
      rect(id=`day_${year}_${month+1}_${d.getDate()}`, x=`${x_offset * 420 + day * 57}` y=`${y_offset * 400 + week_offset * 57 + 100}` width=`55` height=`55` fill=`${schedule[ckey] ? colormap[schedule[ckey]] : "white"}` stroke="black")
      text(x=`${x_offset * 420 + day * 57 + 27.5}` y=`${y_offset * 400 + week_offset * 57 + 127.5}` dominant-baseline="middle" text-anchor="middle" fill="black")= d.getDate()
      rect(x=`${x_offset * 420 + day * 57}` y=`${y_offset * 400 + week_offset * 57 + 100}` width=`55` height=`55` fill=`rgba(0, 0, 0, 0)` stroke="black", onclick=`ClickOnDate(${year},${month+1},${d.getDate()},"${schedule[ckey]}",${id})`)
      - d = new Date(d.getFullYear(), d.getMonth(), d.getDate() + 1)
      if d.getDay() == 0
        - week_offset++
    rect(x=`${100}` y=`${50}` width=`55` height=`27` fill=`rgb(120,255,120)` stroke="black")
    rect(x=`${100}` y=`${77}` width=`55` height=`28` fill=`rgb(180,255,180)` stroke="black")
    text(x=`${160}` y=`${77.5}` dominant-baseline="middle" text-anchor="left" fill="black") Work
    rect(x=`${300}` y=`${50}` width=`55` height=`55` fill=`rgb(255,255,120)` stroke="black")
    text(x=`${360}` y=`${77.5}` dominant-baseline="middle" text-anchor="left" fill="black") Work (not full day)
    rect(x=`${500}` y=`${50}` width=`55` height=`55` fill=`rgb(120,120,255)` stroke="black")
    text(x=`${560}` y=`${77.5}` dominant-baseline="middle" text-anchor="left" fill="black")= `Day off (${num_days_off} of 104)`
    rect(x=`${700}` y=`${50}` width=`55` height=`55` fill=`rgb(255,120,120)` stroke="black")
    text(x=`${760}` y=`${77.5}` dominant-baseline="middle" text-anchor="left" fill="black")= `Holiday (${num_used_holidays} of 22)`
    rect(x=`${900}` y=`${50}` width=`55` height=`55` fill=`rgb(255,120,255)` stroke="black")
    text(x=`${960}` y=`${77.5}` dominant-baseline="middle" text-anchor="left" fill="black")= `Vacation (${num_vacation})`
  if has_unknown_days == true && role === 'admin'
    a.btn.btn-warning(href=`/scheduler/${id}/generate_personal_schedule?year=${year}`) Generate 1 year schedule
  script(src="/javascripts/editschedule.js")
