extends layout

block content
    if request.role === 'admin'
        a.btn.btn-link(href='/scheduler/addholiday', lg_language='_add_holiday_')
        | 
        a.btn.btn-link(href='/scheduler/addschedule', lg_language='_add_schedule_')
        | 
        a.btn.btn-link(href='/scheduler/addstaff', lg_language='_add_staff_')
        | 
        a.btn.btn-link(href='/scheduler/removestaff', lg_language='_remove_staff_')
        hr
    - const today = new Date()
    - const a_week = []
    - let wcnt = 0
    while wcnt < 7
        - const wdate = new Date(today.getFullYear(), today.getMonth(), today.getDate() + wcnt)
        - wcnt++
        - a_week.push(`${wdate.getMonth() + 1}/${wdate.getDate()}`)
    h3(lg_language='_team_members_')
    table.table.table-dark
        thead
            tr
                th Name
                each wday in a_week
                    th= wday
        tbody
            each s in data.staff
                tr
                    td
                        a(href=`/scheduler/${s.id}/personal_schedule`)= s.name
                    - wcnt = 0
                    while wcnt < 7
                        - const wdate = new Date(today.getFullYear(), today.getMonth(), today.getDate() + wcnt)
                        - wcnt++
                        - const dstr = `${wdate.getFullYear()}-${wdate.getMonth() > 8 ? wdate.getMonth() + 1 : '0' + (wdate.getMonth() + 1)}-${wdate.getDate() > 9 ? wdate.getDate() : '0' + wdate.getDate()}`
                        each sdate in s.schedule2s
                            if dstr == sdate.date
                                td(lg_language='_' + sdate.work + '_')
    a(href="/scheduler/team_schedule") Team schedule
