extends layout

block content
  .row
    .col
      h1 Scheduler change log
        table.table.table-dark.table-striped
          thead
            tr
              th(span="col") Date
              th(span="col") Staff
              th(span="col") Change
              th(span="col") Updated by
          tbody
            each l in log
              tr
                td= l.change_date
                td= staff_id[l.change_staff_id]
                td= `${l.change_from} >>> ${l.change_to}`
                td= `${l.updated_by} (${(new Date(l.updated_date)).toLocaleDateString()})`