extends layout

block content
    if role === 'admin'
        a.btn.btn-link(href='/scheduler/addstaff', lg_language='_add_staff_')
        | 
        a.btn.btn-link(href='/scheduler/removestaff', lg_language='_remove_staff_')
        hr
    - const today = new Date(new Date().getTime() + 9 * 3600 * 1000)
    div.hidden= today.toUTCString()
    - const a_week = []
    - let wcnt = 0
    - const wdays = ['日', '月', '火', '水', '木', '金', '土']
    while wcnt < 7
        - const wdate = new Date(today.getFullYear(), today.getMonth(), today.getDate() + wcnt)
        - wcnt++
        - a_week.push(`${wdate.getMonth() + 1}/${wdate.getDate()}(${wdays[wdate.getDay()]})`)
    h3(lg_language='_team_members_')
    table.table.table-dark.table-striped
        thead
            tr
                th Name
                each wday in a_week
                    th= wday
        tbody
            - const grouping = ['ohami_gcs_boss', 'ohami_gcs_mail', 'ohami_gcs_korea', 'ohami_gcs_order']
            each g in grouping
                tr
                    td(colspan="15", style="height:10px;background-color:black;")
                each s in data.staff
                    if g == s.team
                        tr
                            td
                                a(href=`/scheduler/${s.id}/personal_schedule?year=${today.getFullYear()}`)= s.name
                                if role === 'admin'
                                    span (
                                        a(href=`/scheduler/editstaff?id=${s.id}`) Edit
                                        | )
                            - wcnt = 0
                            while wcnt < 7
                                - const wdate = new Date(today.getFullYear(), today.getMonth(), today.getDate() + wcnt)
                                - wcnt++
                                - const dstr = `${wdate.getFullYear()}-${wdate.getMonth() > 8 ? wdate.getMonth() + 1 : '0' + (wdate.getMonth() + 1)}-${wdate.getDate() > 9 ? wdate.getDate() : '0' + wdate.getDate()}`
                                each sdate in s.schedule2s
                                    if dstr == sdate.date
                                        - let w_style = "rgb(220, 255, 100)"
                                        if sdate.work == "off" || sdate.work == "holiday"
                                            - w_style = "rgb(150, 70, 70)"
                                        if sdate.work == "work" || sdate.work == "telwork"
                                            - w_style = "rgb(100, 255, 100)"
                                        if sdate.work == "vacation"
                                            - w_style = "rgb(255, 120, 255)"
                                        td(style=`color:${w_style};` lg_language='_' + sdate.work + '_')
    a(href="/scheduler/compact") 2 week schedule
