extends layout

block content
  .row
    .col
      h1 Scheduler change log
        table.table.table-dark.table-striped
          thead
            tr
              th(span="col") Date
              th(span="col") Staff
              th(span="col") Change
              th(span="col") Updated by
          tbody
            each key in keys
              tr
                td(colspan="4", style="background-color:black;")= change_by_staff[key].name
              - let dd = "0000-00-00"
              each change in change_by_staff[key].changes
                if dd == change.date
                  tr
                    td
                    td
                    td
                      span(class="_" + change.from, lg_language=`_${change.from}_`)
                      span= " >>> "
                      span(class="_" + change.to, lg_language=`_${change.to}_`)
                    td= `${change.by} (${(new Date(change.timestamp)).toLocaleDateString()})`
                else
                  - dd = change.date
                  tr
                    td= change.date
                    td= change_by_staff[key].name
                    td
                      span(class="_" + change.from, lg_language=`_${change.from}_`)
                      span= " >>> "
                      span(class="_" + change.to, lg_language=`_${change.to}_`)
                    td= `${change.by} (${(new Date(change.timestamp)).toLocaleDateString()})`
